title{
  font-family: Papyrus;
  font-size: x-large;
  text-align: center;
 }
  
time{
  text-align: center;
  font-size: large;
}

sign{
  font-family: Palatino;
  font-size: large
  }
  
horoscope{
  font-family: Perpetua;
  font-size: medium
  }

body{
  background-image: url("nightsky.jpg");
}

h1{
  color: #ffffff;
  }
  
  h2{
      color: #ffffff;
  }
  
  p{
      color: #ffffff;
  }
