h1{
  text-align: center;
  font-family: Helvetica;
  color: #0000cc;
  font-size: x-large;
}

h2{
  font-family: Helvetica;
  color: #0000ff
  }

p{
  font-family: Helvetica;
  }
img{
  padding: 10px;
  float: right;
  }
body{
  background-color: #e6f9ff;
}
